@import "../../../styles.scss";

section{
    @include dFlex(column, center, flex-start);
    @include pd100();
    @include maxWidth();
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
    text-align: left;
    height: 100%;
    >div{
        @include dFlex(row, flex-start, stretch);
        padding-top: 80px;
        gap: 200px;
    }
}

h2{
    font-size: 90px;
}

.left{
    @include dFlex(column, space-between, flex-start);
    position: relative;
    width: 40%;
    >div{
        flex: 1;
        h4{
            font-size: 32px;
            font-weight: 700;
        }
        p{
            font-size: 16px;
        }

        span{
            font-family: "Poppins";
            font-size: 16px;
            color: $main_blue;
        }
    }  
}

.right{
    position: relative;
}

.bubble-l, .bubble-m, .bubble-s{
    position: absolute;
}

.bubble-l{
    top: 40%;
    left: 40%;
}

.bubble-m{
    top: 10%;
    left: 60%;
}

.bubble-s{
    top: 90%;
    left: 90%;
}

@media(max-width: 390px){
    section{
        @include pd20();
        >div{
            @include dFlex(column, center, center);
            padding-top: 30px;
            gap: 30px;
        }
    }

    h2{
        font-size: 45px;
    }

    .left{
        width: 100%;
        >div{
            h4{
                font-size: 23px;
            }
        }  
    }

    .bubble-s, .bubble-m, .bubble-l{
        display: none;
    }

    
}