@import "../../../styles.scss";

.content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

section {
    position: relative;
    @include dFlex(column, center, flex-start);
    @include pd100();
    @include maxWidth();
    padding-bottom: 100px;

    h2 {
        margin-top: 100px;
    }

    span {
        font-family: "Montserrat";
        font-size: 23px;
        width: 40%;
    }

    >div {
        width: 100%;
        @include dFlex(column, center, center);
    }
}

.bubble-1,
.bubble-2,
.bubble-3,
.bubble-4,
.bubble-5,
.bubble-6,
.bubble-7 {
    position: absolute;
    z-index: -1;
}

.bubble-1 {
    height: 109px;
    width: 109px;
    top: 3%;
    left: 40%;
}

.bubble-2 {
    height: 183px;
    width: 183px;
    top: 10%;
    right: calc(((100vw - 1920px)/2) + 100px);
}

.bubble-3 {
    height: 393px;
    width: 393px;
    top: 650px;
    left: calc(((100vw - 1920px)/2) - 200px);
}

.bubble-4 {
    height: 652px;
    width: 652px;
    top: 880px;
    right: calc(((100vw - 1920px)/2) - 200px);
}

.bubble-5 {
    height: 51px;
    width: 51px;
    top: 1400px;
    left: calc(((100vw - 1920px)/2) + 100px);
}

.bubble-6 {
    height: 238px;
    width: 238px;
    top: calc(86%);
    left: calc(((100vw - 1920px)/2) + 250px);
}

.bubble-7 {
    height: 98px;
    width: 98px;
    top: 100px;
    left: 400px;
}

@media(max-width: 390px){
    section {
        @include pd20();
        padding-bottom: 50px;
        h2 {
            font-size: 64px;
        }
    
        span {
            width: 100%;
        }

        div{
            padding-top: 40px;
        }
    
    }

    .bubble-1,
.bubble-2,
.bubble-3,
.bubble-4,
.bubble-5,
.bubble-6,
.bubble-7 {
   
}
}