@import "../../../styles.scss";

header{
    width: 100%
}
section{
    @include dFlex(row, space-between, center);
    @include pd100();
    @include maxWidth();
    height: 117px;
    z-index: 10;
    position: relative;
    >.logo{
        height: 69px;
        width: 69px
    } 
}

.nav-links{
    @include dFlex();
    gap: 30px;
}

.nav-link{
    color: $main_blue;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 23px;
    width: 120px;
    text-align: center;
    &:hover{
        font-weight: 500;
    }
}

.burger-menu{
    display: none;
    width: 30px;
    height: 30px;
}

@media(max-width: 390px){
    section{
        @include pd20();
        .logo{
            height: 58px;
            width: 58px;
        }
    }

    .nav-links{
        display: none;
    }

    .burger-menu{
        display: block;
    }

    
}