<section>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="input-div">
            <input id="input1" formControlName="name" type="text" placeholder="Your name" name="name" required>
            <label class="placeholder-text">{{ 'contact.name' | translate }}</label>
            <span class="error-message">{{ 'contact.name-iv' | translate }}</span>
            <img class="error-img valid-img" src="/assets/contact/valid.png" alt="">
            <img class="error-img error-message" src="/assets/contact/invalid.png" alt="">
        </div>
        <div class="input-div">
            <input formControlName="email" type="text" placeholder="Your email" name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            <label class="placeholder-text">{{ 'contact.email' | translate }}</label>
            <span class="error-message">{{ 'contact.email-iv' | translate }}</span>
            <img class="error-img valid-img" src="/assets/contact/valid.png" alt="">
            <img class="error-img error-message" src="/assets/contact/invalid.png" alt="">
        </div>
        <div class="textarea-div">
            <textarea formControlName="message" class="message-input" placeholder="Your message" name="message"
                rows="6" required></textarea>
            <label class="placeholder-text">{{ 'contact.nachricht' | translate }}</label>
            <span class="error-message">{{ 'contact.nachricht-iv' | translate }}</span>
            <img class="error-img valid-img" src="/assets/contact/valid.png" alt="">
            <img class="error-img error-message" src="/assets/contact/invalid.png" alt="">
        </div>
        <div class="checkbox-div">
            <div>
                <div class="checkbox-input-div">
                    <input type="checkbox" id="checkbox" required>
                </div>
                <span for="checkbox">{{ 'contact.privacy' | translate }}<a routerLink="/imprint">{{ 'contact.privacy-2' | translate }}</a> {{ 'contact.privacy-3' | translate }}</span>
            </div>
            <span class="error-message" id="errmsg">{{ 'contact.privacy-iv' | translate }}</span>
        </div>
        <div class="button-div">
            <div class="submit-btn-div">
                <button type="submit" class="submit-btn">{{ 'contact.button' | translate }}</button>
            </div>
        </div>
    </form>
</section>