@import "../../../styles.scss";

section {
    @include dFlex();
    @include pd100();
    overflow: hidden;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    @include maxWidth();
    background-color: white;
}

.big-ellipse {
    position: absolute;
    top: -103px;
}

.small-ellipse {
    position: absolute;
    top: 25px;
    left: calc(100% / 4 * 3 - 100px);
}

.left-div {
    width: 50%;
    @include dFlex(column, center, center);
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;

    >h1 {
        text-align: left;
    }
}

.facts-div {
    @include dFlex(row, space-between, center);
    width: 100%;
}

.right-div {
    @include dFlex(column, center, flex-start);
    gap: 20px;
    width: 50%;
}

.facts-item {

    @include dFlex(row, space-between, flex-end);
    gap: 15px;
    color: $main_blue;
    width: 210px;
    height: 60px;
    font-family: "Montserrat";
    font-size: 18px;

    >span {
        width: 60%;
    }

    >div {
        display: flex;
        justify-content: flex-end;
        width: 40%;
    }
}

.located {
    &:hover {
        >div {
            >img {
                content: url("/assets/about-me/located_hover.png");
            }
        }

    }
}

.remote {
    &:hover {
        >div {
            >img {
                content: url("/assets/about-me/remote_hover.png");
            }
        }

    }
}

.relocate {
    &:hover {
        >div {
            >img {
                content: url("/assets/about-me/relocate_hover.png");
            }
        }

    }
}

@media(max-width: 1400px) {
    .left-div {
        >h1 {
            font-size: 90px;
        }
    }

    .facts-item {
        @include dFlex(column, flex-end, center);
        width: 180px;
        text-align: center;
        height: 120px;

        >span {
            width: auto;
        }

        >div {
            width: auto;
        }
    }
}

@media(max-width: 1200px) {
    p {
        font-size: 18px;
    }
}

@media(max-width: 1000px) {
    section {
        @include pd50();
    }
}

@media(max-width: 900px) {
    section {
        @include dFlex(column, center, center);
        @include pd20();
        overflow: visible;
        padding-top: 130px;
    }

    .left-div,
    .right-div {
        width: 70%;
        gap: 20px;
    }

    .right-div {
        padding-top: 40px;
        align-items: center
    }

    ;
}

@media(max-width: 700px) {

    .left-div {
        width: 90%;
        >h1 {
            font-size: 58px;
        }
    }

    .right-div{
        width: 90%;
    }
}

@media(max-width: 390px) {
    section {
        @include dFlex(column, flex-start, flex-start);
        @include pd20();
        overflow: visible;
        padding-top: 130px;
    }

    .big-ellipse {
        height: 156px;
        width: 156px;
        top: -78px;
        left: calc(50% - 78px);
    }

    .small-ellipse {
        height: 61px;
        width: 61px;
        top: 25px;
        left: calc(100% / 4 * 3);
    }

    .left-div {
        width: 100%;
        padding: 0;
        gap: 20px;

        >h1 {
            font-size: 58px;
        }

        >h3 {
            font-size: 32px;
        }
    }

    .facts-div {
        @include dFlex(column, space-between, center);
        width: 100%;
        gap: 20px;
    }

    .facts-item {
        width: 100%;
        @include dFlex(row, center, center);
        height: auto;
        >span {
            width: auto;
        }

        >div {
            width: auto;
        }
    }

    .right-div {
        @include dFlex(column, center, center);
        gap: 20px;
        width: 100%;
    }
}