<section id="about_me">
    <img class="big-ellipse" src="/assets/about-me/Ellipse 5.png" alt="">
    <img class="small-ellipse" src="/assets/about-me/Ellipse 6.png" alt="">
    <div class="left-div">
        <h1>{{ 'about-me.title' | translate }}</h1>
        <h3>{{ 'about-me.title-2' | translate}}</h3>
        <div class="facts-div">
            <div class="facts-item located">
                <div><img src="/assets/about-me/located.png" alt=""></div>

                <span>{{ 'about-me.wohnsitz' | translate}}</span>
            </div>
            <div class="facts-item remote">
                <div><img src="/assets/about-me/remote.png" alt=""></div>

                <span>{{ 'about-me.remote' | translate}}</span>
            </div>
            <div class="facts-item relocate">
                <div><img src="/assets/about-me/relocate.png" alt=""></div>

                <span>{{ 'about-me.umzug' | translate}}</span>
            </div>

        </div>
    </div>
    <div class="right-div">
        <p>{{ 'about-me.beschreibung' | translate}}  <br><br> {{ 'about-me.beschreibung-2' | translate}}
        </p>
        <a href="#contact">
            <app-pf-btn title="{{ 'about-me.kontakt' | translate}}"></app-pf-btn>
        </a>
    </div>
</section>