<section>
    <img class="big-ellipse" src="/assets/about-me/Ellipse 5.png" alt="">
    <img class="small-ellipse" src="/assets/about-me/Ellipse 6.png" alt="">
    <div class="left-div">
        <h1>Let's work together</h1>
        <h2>I am</h2>
        <div class="facts-div">
            <div class="facts-item located">
                <div><img src="/assets/about-me/located.png" alt=""></div>
                
                <span>located in Stuttgart</span>
            </div>
            <div class="facts-item remote">
                <div><img src="/assets/about-me/remote.png" alt=""></div>
                
                <span>open to work remote</span>
            </div>
            <div class="facts-item relocate">
                <div><img src="/assets/about-me/relocate.png" alt=""></div>
                
                <span>open to relocate</span>
            </div>
           
        </div>
    </div>
    <div class="right-div">
        <p>I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their ideas into real life.  I am looking forward to continuing my developer career with a job in a junior web developer position. My ability to solve complex problems and my passion for programming make me a valuable member for your team.
            <br><br>
            If you think I’d be a good match for your projects, contact me!</p>
        <app-pf-btn title="Send a message"></app-pf-btn>
    </div>
</section>
