@import "../../../styles.scss";

.gradient-div {
    background-image: linear-gradient(to top, #edf2ff, #ffffff);
    width: 100%;
}

section {
    height: 1000px;
    position: relative;
    background-position: -250px -100px;
    background-repeat: no-repeat;
    z-index: 0;
    color: $main_blue;
    margin-top: -117px;
    @include dFlex(row, center, flex-end);
    @include pd100();
    @include maxWidth();
}

.background-ellipse {
    position: absolute;
    top: -100px;
    left: -250px;
    z-index: -10;
}

.landing-top-div {
    @include dFlex(column, center, center);
    margin-bottom: 50px;

    >span {
        text-align: center;
    }
}

.landing-bottom-div {
    @include dFlex(row, space-between, flex-end);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 23px;

    >div {
        @include dFlex(column, center, center);

        >span {
            margin-bottom: 10px;
        }
    }
}

.greeting {
    font-family: 'Montserrat';
    font-size: 64px;
}

.socials-div {
    gap: 30px;
    margin-bottom: 20px;

    >a {
        height: 40px;
        width: 40px;
    }
}

.social-item {
    transition: 0.1s ease-out;
}

.social-item:hover {
    transform: translate(-10px);
}

.scroll-msg{
    display: none;
    font-family: "Poppins";
    font-size: 23px;
    writing-mode: vertical-rl;
    color: $main_blue;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

@media(max-width: 390px) {
    section {
        @include dFlex(column-reverse, center, center);
       padding: 0;
        color: white;
        width: 100%;
        overflow: hidden;
        height: 680px;
    }
    
    .profile-img {
       width: 375px;
        
    }

    .background-ellipse {
        width: 512px;
        height: 512px;
        top: -50px;
        left: -160px;
        z-index: -10;
    }

    .greeting {
        color: white;
        font-size: 24px;
    }

    h1 {
        color: white;
        font-size: 54px;
        text-align: left;
    }

    .landing-top-div {
        @include dFlex(column, center, flex-start);
        @include pd20();
        margin-bottom: 0;
        padding-top: 110px;
    }

    .landing-bottom-div {
        display: none;
    }

    .scroll-msg{
        display: block;
    }
}

