<div class="gradient-div">
    <section>
        <img src="/assets/landing-page/photo.png" alt="">
        <div>
            <div class="landing-top-div">
                <span class="greeting">Hello! I am Michael</span>
                <h1>FRONTEND DEVELOPER</h1>
            </div>
            <div class="landing-bottom-div">
                <div></div>
                <div>
                    <span>SCROLL</span>
                    <img src="/assets/landing-page/line.png" alt="">
                </div>
                <div class="socials-div">
                    <a href="">
                        <img class="social-item" src="/assets/landing-page/github.png" alt="">
                    </a>
                    <a href="">
                        <img class="social-item" src="/assets/landing-page/mail.png" alt="">
                    </a>
                    <a href="">
                        <img class="social-item" src="/assets/landing-page/linkedin.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>