<div class="gradient-div">
    <section>
        <div class="left-div">
            <img class="profile-img" src="/assets/landing-page/hero.png" alt="">
            <img class="background-ellipse" src="/assets/landing-page/ellipse.png" alt="">
            <span class="scroll-msg">Scroll down &rarr;</span>
        </div>
        
        <div class="right-div">
            <div class="landing-top-div">
                <span class="greeting">{{ 'landing-page.begruessung' | translate }}</span>
                <h1>FRONTEND DEVELOPER</h1>
            </div>
            <div class="landing-bottom-div">
                <div></div>
                <div>
                    <span>{{ 'landing-page.scrollen' | translate }}</span>
                    <img class="scroll-line" src="/assets/landing-page/line.png" alt="">
                </div>
                <div class="socials-div">
                    <a href="https://github.com/michaeljonasmaier" target="_blank">
                        <img class="social-item" src="/assets/landing-page/github.png" alt="">
                    </a>
                    <a href="mailto:michael-maier@live.de" target="_blank">
                        <img class="social-item" src="/assets/landing-page/mail.png" alt="">
                    </a>
                    <a href="https://linkedin.com/in/michael-maier-82415420a" target="_blank">
                        <img class="social-item" src="/assets/landing-page/linkedin.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>