@import "../../../styles.scss";

.background-gradient {
    background: linear-gradient(to right, #5988FF, #5988FF, #0043F0);
    width: 100%;
}

section {
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
    padding-top: 70px;
    padding-bottom: 70px;
    @include maxWidth();

    >h1 {
        color: white;
        font-size: 96px;
        padding-bottom: 100px;
    }

    >div {
        @include dFlex();
        @include pd100();
        padding-left: 300px;
        padding-right: 300px;
        gap: 80px;
        flex-wrap: wrap;
    }
}

.skill-item {
    @include dFlex(column, center, center);
    width: 140px;
    gap: 10px;

    &:hover {
        span {
            font-weight: bold;
        }

        img {
            transition: all 100ms ease-in;
            transform: translateY(-10px);
        }
    }
}

.gm-hover-img {
    display: none;
    position: absolute;
    top: -110px;
    left: 40px;
}

.gm {
    @include dFlex(column, center, center);
    position: relative;
    filter: drop-shadow(0px 4px 9px #0000007d);
    width: 140px;
    gap: 10px;

    &:hover {
        .gm-hover-img {
            display: block;
        }

        span {
            font-weight: bold;
        }
    }
}

@media(max-width: 390px) {
    section {
        padding-top: 40px;
    padding-bottom: 40px;
        @include pd20();
        h1 {
            font-size: 64px;
            padding-bottom: 50px;
        }

        >div {
            @include dFlex();
            gap: 50px;
            padding: 0;
        }
    }

    .skill-item {
        gap: 10px;
        width: auto;
        font-size: 14px;
        img {
            height: 60px;
            width: 60px;
        }
    }

    .gm {
        width: auto;
        >img{
            height: 60px;
            width: 60px;
        }
    }

}