<div class="background-gradient">
    <section id="skillset">
        <h1>Skill set</h1>
        <div>
            @for(skill of skills; track skill){
            <div class="skill-item">
                <img src="/assets/skills/{{skill}}.png" alt="{{skill}}">
                <span>{{skill}}</span>
            </div>
            }
            <div class="gm">
                <img src="/assets/skills/Growth mindset.png" alt="Growth mindset">
                <span>Growth Mindset</span>
                <img class="gm-hover-img" src="/assets/skills/gm_hover.png" alt="">
            </div>
        </div>
    </section>
</div>