<section [className]="workingExample.reverse ? 'reverse' : ''">
    <div class="img-div">
        <img src={{workingExample.imgPath}} alt="">
    </div>
    <div class="info-div">
        <h3>{{workingExample.title}}</h3>
        <h4>
            @for(softwareItem of workingExample.software; track softwareItem; let index = $index){
                @if(index < workingExample.software.length - 1){
                    {{softwareItem}} | 
                } @else {
                    {{softwareItem}}
                }
            }
        </h4>
        <p>{{ workingExample.description | translate }}</p>
        <div class="button-div">
            <a href="{{workingExample.link}}" target="_blank">
                <app-pf-btn title="Github"></app-pf-btn>
            </a>
            <a href="https://elpolloloco.maiermichael.com" target="_blank">
                <app-pf-btn title="Live test"></app-pf-btn>
            </a>
        </div>
        
    </div>
</section>
