<section>
    <img src="/assets/landing-page/photo.png" alt="">
    <div>
        <div class="landing-top-div">
            <span class="greeting">Hello! I am Michael</span>
            <span class="job">FRONTEND DEVELOPER</span>
        </div>
        <div class="landing-bottom-div">
            <div>
                <span>SCROLL</span>
                <img src="/assets/landing-page/line.png" alt="">
            </div>
            <div class="socials-div">
                <img src="/assets/landing-page/github.png" alt="">
                <img src="/assets/landing-page/mail.png" alt="">
                <img src="/assets/landing-page/linkedin.png" alt="">
            </div>
        </div>
    </div>
</section>