<section>
    <div class="footer-content">
        <img src="assets/landing-page/logo_placeholder.png" alt="">
        <div>
            <h4>© Michael Maier 2025</h4>
            <a class="legal-notice" href="">Legal Notice</a>
        </div>    
        <div class="socials-div">
            <div>
                <a href="https://github.com/michaeljonasmaier" target="_blank"><img src="assets/footer/github.png" alt=""></a>
            </div>
            <div>
                <a href="mailto:michael-maier@live.de" target="_blank"><img src="assets/footer/mail.png" alt=""></a>
            </div>
            <div>
                <a href="https://linkedin.com/in/michael-maier-82415420a" target="_blank"><img src="assets/footer/linkedin.png" alt=""></a>
            </div>
        </div>
    </div>
    
</section>
